@import "tailwindcss";

html {
  font-size: 62.5%;
  @media (max-width: 1000px) {
    font-size: 56.25%;
  }
}
body {
  background-color: black;
  color: white;
}
.container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 4rem;
  @media (max-width: 640px) {
    padding: 0 2rem;
  }
}
.Seccontainer {
  max-width: 132rem;
  margin: 0 auto;
  padding: 2rem 6rem;
  @media (max-width: 640px) {
    padding: 0 2rem;
  }
}

@theme {
  /* 🎨 Colors */
  --color-primary: #3bb77e;
  --color-secondary: #def9ec;
  --color-heading: #253d4e;
  --color-paragraph: #7e7e7e;

  /* 🧩 Fonts */
  --font-quicksand: "Quicksand", sans-serif;
  --font-lato: "Lato", sans-serif;

  /* 🔲 Radius */
  --radius-Sm: 4px;
  --radius-2Sm: 8px;
  --radius-Md: 15px;
  --radius-2Md: 20px;
  --radius-Lg: 30px;
  --radius-2Lg: 50px;

  /* 🖥️ Custom breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-xs1: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md1: 800px;
  --breakpoint-md2: 950px;
  --breakpoint-lg: 1100px;
  --breakpoint-lg2: 1200px;

  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-quicksand font-bold;
  }
  h1 {
    /* @apply text-[clamp(4.6rem,5vw+2rem,7.2rem)]; */
    @apply text-7xl md2:text-8xl;
  }

  h2 {
    @apply text-[3rem] sm:text-[4.8rem];
  }
  h3 {
    @apply text-[3.6rem] sm:text-[4rem];
  }
  h4 {
    @apply text-[2.4rem] sm:text-[3.2rem];
  }
  h5 {
    @apply sm:text-[2.4rem] text-[1.8rem];
  }
  h6 {
    @apply sm:text-[1.4rem] text-[1.4rem];
  }
  p {
    @apply text-stone-400 font-lato font-normal text-[14px] sm:text-[16px];
  }
}



/* Hides scrollbar but keeps scrolling */
.hide-scrollbar {
  scrollbar-width: none;      /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome/Safari */
}
